/** {
  border: 1px dashed blue;
}*/

html {
  margin: 0px;
  padding: 0px;
}

body {
    background-image: url(../../assets/images/hot-air-baloon02.jpg);
    /*background-image: url(../../assets/images/floor-planks.jpg);*/
    /*background-image: url(../../assets/images/dreamful_sky-wide.jpg);*/
    /*background-image: url(../../assets/images/beach-extend.png);*/
    /*background-image: url(../../assets/images/labyrinth.jpg);*/
    /*repeat: none;*/
    margin: 0px;
    padding: 0px;

}

.menu-container {
  display: inline-block;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 24px;
  /*padding: 5px;*/
}

.menu {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}

.menu-container:hover {
  opacity: 0.7;
}

.countdown-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #fff;
    border: 1px solid #slategray;
    padding: 15px;
    opacity: 0.8;
    font-family: 'Futura';
    color: slategray;
}

.clock-title {
  font-size: 0.6em;
}

.info {
    font-size: 80px;
}

/*======================*/

.dialog-container {
  position: relative;
  top: 15%;
  left: 15%;
  transform: translateX(-0%) translateY(35%);
  width: 300px;
  height: 175px;
  background: #fff;
  /*border: 1px solid #ddd;*/
  /*box-shadow: 1px 1px 5px 1px #ccc;*/
  /*border-radius: 7px;*/
  /*opacity: 0.7;*/
  transition: all 0.3s linear 0s;
  font-family: 'Arial';
  font-size: 0.855em;
  font-weight: bold;
}

.dialog-header {
  padding: 10px;
  font-weight: lighter;
  background: gray;
  color: #fff;
  /*color: #f6f7f8;*/
  font-size: 1.2em;
}

.dialog-body {
  padding: 10px;
  line-height: 30px;
}

#dlg-message {
  font-size: 1em;
  color: slategray;
  font-weight: lighter;
}

.dialog-input-element{
  border: none;
  outline: none;
  border: 1px solid #ddd;
  width: 86px;
  height: 20px;
  font-size: 0.855em;
  /*padding: 5px;*/
  text-align: center;
}

.dialog-input-element:focus {
  box-shadow: inset 0 0 10px 3px #f6f6f6;
}

.dialog-footer {
  text-align: center;
  /*background: #f5f5f2;*/
  padding: 3px 0;
}

.dialog-container a {
  display: inline-block;
  width: 85px;
  padding: 5px 0;
  border: 1px solid #bbb;
  border-radius: 7px;
  background-color: #eee;
  cursor: pointer;
  vertical-align: middle;
  font-family: 'Arial';
  color: slategray;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: lighter;
}

.dialog-container a:hover {
  background-color: #ddd;
}

/*======================*/

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 175px;
    overflow: hidden;
    z-index: 1;
    opacity: 0.9;
    box-shadow: none;
}

.dropdown-content a {
    color: slategray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Futura';
    background-color: #fff;
    border-radius: 0px;
    margin-left: 23px;
    border-top: 1px solid #f6f6f6;
    text-align: center;
}

.dropdown a:hover {
  background-color: slategray;
  color: #fff;
}

.show {display:block;}
